---
layout: default
title: Pilotprojekt Mikrokredite und Fischzucht Projekt
---


{% include leaves.svg id="leaves" %}




.section.light
  .section-title
    h2 Beispielprojekte: Pilotprojekt Mikrokredite und Fischzucht Projekt der Jugendlichen in Zentral-Kalimantan
  .section-content
    p.lead text... 
    .graphic
      img(src="assets/images/machete.jpg")
    
    a(href="/")
      button.bos-button.large.info.float-right.space-left &laquo; zurück

.svg.light
  {% include leaves.svg id="" %}


{% include down %}
{% include menu %}
