---
layout: default
title: BOS-Schweiz
---



.section.titleblock
  h1 Community
    br
    span Development
  img.top-image.zig-zag-bottom(src="assets/images/woman-field-lighter.jpg")
  h3 
    span Fischzucht und Orang-Utan-Schutz: Was haben diese beiden Dinge miteinander zu tun? Viel, denn Armut ist ein wichtiger Grund für Wilderei und Raubbau an der Natur.  

.section
  .section-title
    h2 Auf eigenen Füssen stehen: Hilfe zur Selbsthilfe 
  .section-content
    p.lead Seit einigen Jahren führt BOS deshalb nahe der Schutzgebiete Projekte in den Bereichen Einkommen, Gesundheit und Bildung durch und leistet damit einen wichtigen Beitrag zur menschlichen Entwicklung marginalisierter Gruppen und zum Artenschutz in Zentral- und in Ostkalimantan. 

    .graphic
      h4.text-center Verortung der Projekte
      img(src="assets/images/indonesiablankmap.png")

    button.bos-button.info.float-center mehr erfahren &raquo;

.section
  .section-title
    h2 Einkommensgenerierung
  .section-content
    p.lead Mit Mikrokrediten finanzieren wir beispielsweise die Produktion, Veredelung und Vermarktung traditioneller Güter wie Rattananbau und Fischzucht. (…)

    .graphic
      img(src="assets/images/man-bag.jpg")
    button.bos-button.large.info.float-right.space-left mehr erfahren &raquo;

    p.lead Ansässige Kulturen, die dem Regenwald von je her viel Wertschätzung entgegen bringen, werden so in ihrer Identität, ihrer Unabhängigkeit und in der Wahrnehmung ihrer Rechte gestärkt. Vorhandene Fähigkeiten werden nachgefragt und neue Kompetenzen erworben, die es der lokalen Bevölkerung erlauben, für sich und ihre Familien ein nachhaltiges und umweltverträgliches Einkommen zu generieren. 

    p.lead Auch in den Baumschulen unsrer Aufforstungsprogramme oder den BOS Rettungsstationen schaffen wir vor Ort hunderte Arbeitsplätze. Alternative Einkommensquellen wie die Anstellung auf einer Ölpalm-Plantage, die Wilderei oder der illegale Handel mit Wildtieren werden dadurch unattraktiver. 

    .action-buttons
      button.bos-button
        {% include svg_icon.html name="donate" %} 
        span Spenden 
      button.bos-button.space-left
        {% include svg_icon.html name="shoe" %} 
        span Aktiv werden


.section
  .section-title
    h2 Gesundheitsprojekte 
  .section-content
    p.lead (…) Brände &amp; übertragbare Krankheiten

    .action-buttons
      button.bos-button
        {% include svg_icon.html name="donate" %} 
        span Spenden 
      button.bos-button.space-left
        {% include svg_icon.html name="shoe" %} 
        span Aktiv werden

.section
  .section-title
    h2 Bildungsprojekte 
  .section-content
    p.lead (…) 

    .action-buttons
      button.bos-button
        {% include svg_icon.html name="donate" %} 
        span Spenden 
      button.bos-button.space-left
        {% include svg_icon.html name="shoe" %} 
        span Aktiv werden

.section
  .section-title
    h2 Zuverlässige Partner in Indonesien und der Schweiz
  .section-content
    p.lead Unsere Projekte planen und implementieren wir gemeinsam mit der ansässigen Bevölkerung und mit lokalen Partnerorganisationen wie RHOI oder XY. Inhalt und Zielsetzung der Vorhaben orientieren sich an den lokalen Bedürfnissen. Projektfortschritte werden in Berichten oder im Rahmen von regelmässigen Projektbesuchen vor Ort festgehalten. Die Ergebnisse unsrer Projekte werden intern wie extern evaluiert. 

    .graphic
      h4.text-center Projektzyklus
      img(src="assets/images/cycle.svg" style="margin:48px")
    //- button.bos-button.large.secondary.float-right mehr erfahren &raquo;

    p.lead Vor Ort und in der Schweiz arbeiten wir eng mit Partnern zusammen, die über jahrelange Erfahrung und Expertise in der Entwicklungszusammenarbeit in Indonesien verfügen. BOS Mitarbeiter werden vor Ort geschult und haben – genau wie wir von BOS Schweiz – über die Jahre wichtige Kompetenzen in den Bereichen Projektplanung, Umsetzung und Evaluation erworben. Die notwendigen Kapazitäten und personellen Ressourcen sind aufgebaut, etablierte Abläufe in der Projektabwicklung formalisiert und gemeinsame Lernprozesse längst zur Grundlage zukünftiger Vorhaben geworden. Einer Ausweitung unserer Entwicklungszusammenarbeit steht somit nichts im Wege!

    .graphic
      h4.text-center Entwicklung Com Dev Aktivitäten
      img(src="assets/images/timeline.jpg" )

    button.button.float-right Share

    p.lead Unsere Entwicklungszusammenarbeit vor Ort finanzieren wir über Stiftungs- und Spendengelder. Über die Jahre haben wir nicht nur erhebliche Summen für unsere Entwicklungshilfevorhaben eingeworben, sondern auch unseren vertrauenswürdigen Umgang mit diesen Mitteln bewiesen. Bitte spenden auch Sie oder werden Sie anderweitig aktiv!

    .action-buttons
      button.bos-button
        {% include svg_icon.html name="donate" %} 
        span Spenden 
      button.bos-button.space-left
        {% include svg_icon.html name="shoe" %} 
        span Aktiv werden

//- .section
//-   .section-title
//-     h2 Vertiefte Informationen
//-   .section-content
//-     ul.menu.vertical
//-       li 
//-         a Reports zum Download
//-       li 
//-         a Bilder Galerie
//-       li 
//-         a Share Möglichkeit Animation/Graphiken (?)
//-       li 
//-         a Sign-up Möglichkeit für Magazine/Email Newsletter (?)

{% include menu %}

