<header>
  <nav class="top-bar">
    <div class="top-bar-left">
      <div  class="float-left">
      <img src="assets/images/bos-web-logo-200.png" width="120" alt="BOS Schweiz" title="BOS Schweiz">
      </div>
      <div id="logo-text" class="float-left">
        BORNEO <BR>ORANGUTAN <BR>SURVIVAL<BR> SCHWEIZ
      </div>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
      {% for link in site.data.links %}
          <li><a href="#"><svg><use xlink:href='#{{link.icon}}'></use></svg> <Br>{{link.name}}</a></li>
      {% endfor %}

    

     <!--    <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li> -->
      </ul>
    </div>
  </nav>
</header>