<header>
  <nav class="top-bar">
    <div class="top-bar-left">
      <div  class="float-left">
      <img src="assets/images/bos-web-logo-200.png" width="120" alt="BOS Schweiz" title="BOS Schweiz">
      </div>
      <div id="logo-text" class="float-left">
        BORNEO <BR>ORANGUTAN <BR>SURVIVAL<BR> SCHWEIZ
      </div>
    </div>
    <div class="top-bar-right">
      <ul class="menu">

      <li><a href="#">Aktuell</a></li>
      <li><a href="#">Projekte</a></li>
      <li><a href="#">Orang-Utan</a></li>
      <li><a href="#">Aktiv Werden</a></li>
      <li><a href="#">Mediathek</a></li>
      <li><a href="#">Über BOS</a></li>
      <li><a href="#">PATENSCHAFTEN</a></li>
      <li><a href="#">{% include svg/donate.svg %}SPENDEN</a></li>
      <li><a href="#">SHOP</a></li>

     <!--    <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li> -->
      </ul>
    </div>
  </nav>
</header>