<header class="clearfix">
  <nav class="top-nav">
    <div class="top-nav-left">
      <div  class="float-left">
      <a href="/"><img src="assets/images/bos-web-logo-200.png" width="120" alt="BOS Schweiz" title="BOS Schweiz"></a>
      </div>
      <div id="logo-text" class="float-left">
        BORNEO <BR>ORANGUTAN <BR>SURVIVAL<BR> SCHWEIZ
      </div>
    </div>
    <div class="top-nav-center">
    <ul class="menu">
           {% for link in site.data.biglinks %}
              <li><a href="#"><svg><use xlink:href='#{{link.icon}}'></use></svg> <Br>{{link.name}}</a></li>
          {% endfor %}
          </ul>
    </div>
    <div class="top-nav-right">
      <ul class="menu">
      {% for link in site.data.smalllinks %}
          <li><a href="#"><svg><use xlink:href='#{{link.icon}}'></use></svg> <Br>{{link.name}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </nav>
</header>