$main-button-color: $fun5;

.bos-button {
    @include button-style;
    @include button-hollow;

    margin-bottom: 12px;
    padding: 24px;
    color: $main-button-color;
    border: 3px solid $main-button-color;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .075rem;
    transition: .2s all;

    svg {
        fill: currentColor;
        width: 36px;
        height: 36px;
        vertical-align: middle;
    }

    &:hover {
        background: $main-button-color;
    }

    &.info {
        color: #666;
        border-color: #666;

        &:hover {
            background: #666;
            color: white;
        }
    }
}